<ion-view view-title="{{speaker.name}}">
    <ion-content class="padding">
        <div class="speaker-detail">
            <div class="speaker-basics">
                <img class="speaker-photo" src="{{speaker.img}}" />
                <h1>{{speaker.name}}<i class="icon ion-star" ng-if="speaker.category=='star'"></i></h1>
                <h2 class="speaker-work"><i class="icon ion-briefcase"></i>{{speaker.title}}</h2>
            </div>
            <p class="speaker-bio" ng-if="speaker.bio"><i class="icon ion-edit"></i>{{speaker.bio}}</p>
        </div>
    </ion-content>
</ion-view>
