<ion-view view-title="Events">
    <ion-content>
        <ion-list class="list-events">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events"
                      type="item-text-wrap"
                      ui-sref="tab.event-detail({eventId:event.id})">
                <img ng-src="{{event.img}}">
                <h2 class="event-title">{{event.name}}</h2>
                <div class="info-event">
                    <p>{{event.description}}</p>
                    <p class="event-speaker">{{event.speaker}}</p>
                    <p class="event-duration">{{event.duration}}m</p>
                    <p class="event-place">{{event.place}}</p>
                    <p class="event-date">{{event.date | date:'medium'}}</p>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-calm" ng-click="share(event)">
                    Share
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
