<ion-view view-title="Map">
    <ion-content class="padding tab-map" overflow-scroll="true">
        <div class="card">
            <div class="bar bar-header bar-stable">
                <h2 class="title">Campus Parmentier</h2>
            </div>
            <div class="content has-header">
                <p>All the events will happen in these premises.</p>
                <ion-scroll zooming="true"
                            direction="xy"
                            delegate-handle="zoom-pane"
                            class="zoom-pane"
                            min-zoom="1"
                            scrollbar-x="false"
                            scrollbar-y="false"
                            overflow-scroll="false">
                    <img id="map" src="img/map.png" />
                    <div id="legend">
                        <h5>Room 1 | France</h5>
                        <div class="row">
                            <p class="col">
                                1. iGEM IONIS<br />
                                2. iGEM Évry<br />
                                3. iGEM Pasteur<br />
                            <p class="col">
                                4. iGEM Bettencourt<br />
                                5. iGEM Saclay<br />
                                6. iGEM Bordeaux<br />
                                7. iGEM Toulouse<br />
                            </p>
                        </div>
                        <h5>Room 2 | Germany</h5>
                        <div class="row">
                            <p class="col">
                                8. iGEM Munich<br />
                                9. iGEM Düsseldorf<br />
                                10. iGEM Aachen<br />
                            <p class="col">
                                11. iGEM Göttingen<br />
                                12. iGEM Hamburg<br />
                                13. Tübingen<br />
                            </p>
                        </div>
                        <h5>Room 3 | United Kindgom, Belgium</h5>
                        <div class="row">
                            <p class="col">
                                14. iGEM Edinburgh<br />
                                15. iGEM Manchester<br />
                            <p class="col">
                                16. iGEM Sheffield<br />
                                17. iGEM Cardiff<br />
                                18. iGEM Louvain<br />
                            </p>
                        </div>
                        <h5>Room 4 | Netherlands</h5>
                        <div class="row">
                            <p class="col">
                                19. iGEM Wageningen<br />
                                20. iGEM Eindhoven<br />
                            <p class="col">
                                21. iGEM TU Delft<br />
                                22. iGEM Leiden<br />
                            </p>
                        </div>
                        <h5>Room 5 | Denmark, Finland, Poland, Switzerland</h5>
                        <div class="row">
                            <p class="col">
                                23. iGEM DTU<br />
                                24. iGEM Copenhagen<br />
                            <p class="col">
                                25. iGEM Aalto-Helsinki<br />
                                26. iGEM Poznań<br />
                                27. iGEM Zurich<br />
                            </p>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
