<ion-view view-title="Home" class="tab-home">
    <!--<div class="bar bar-header bar-royal">-->
    <!--<h1>The European Experience</h1>-->
    <!--</div>-->
    <!--<div class="bar bar-subheader bar-royal">-->
    <!--<h2>Companion App</h2>-->
    <!--</div>-->
    <ion-content class="padding has-header">
        <div class="bar bar-header bar-positive">
            <div class="h1 title">The European Experience</div>
        </div>
        <div class="bar bar-subheader bar-stable">
            <h2 class="title">Companion App</h2>
        </div>
        <div class="content has-header padding">
            <p class="intro">
                This app will help you make the most out of the event,
                knowing what you can do and where everything happens!
            <p>
            <h3>The European Experience is organised by the Team Évry and iGEM IONIS teams.</h3>
            <!--<div class="item item-divider">-->
            <div class="card">
                <div class="item item-text-wrap">
                    <h4 class="title">Évry Team</h4>
                    <p>
                        Since 2012, Université d’Évry-Val-d’Essonne has participated in iGEM as Évry Team.
                        With the support of the Institute of Systems and Synthetic Biology (iSSB) and Genopole,
                        it has already been possible to send 4 teams of motivated students to the international
                        competition, who have succeeded in presenting brilliant projects.
                    </p>
                    <h5>Project 2016</h5>
                    <p>
                        After some months of brainstorming and organization, the Évry team 2016 is ready
                        to involve themselves in producing bioplastic, concretely Poly-Lactic Acid (PLA).
                        Évry will face the challenge of engineering Pseudomonas putida for obtaining it.
                        Moreover, they will characterize and use their PLA for a real application in
                        biomedicine and 3D printing.
                    </p>
                    <div class="row">
                        <div class="col">
                            <a href="https://www.facebook.com/iGEM.Evry.2016"><img src="img/facebook.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://twitter.com/iGEM_Evry"><img src="img/twitter.png"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:evryigem2016@gmail.com"><img src="img/email.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>

    </ion-content>
</ion-view>
