<ion-view view-title="Home">
    <ion-content class="padding">
        <h2>Project Europe</h2>
        <h4>Companion App</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis commodo massa, in rutrum enim congue
            a. Ut id metus ut magna luctus venenatis quis sit amet ipsum. Morbi volutpat turpis at convallis lobortis.
            Donec finibus elit eu enim lacinia egestas. Sed ornare placerat neque, quis maximus turpis pellentesque a.
            Etiam consectetur est sed luctus laoreet. Integer eu ipsum eget metus bibendum pulvinar sit amet id lorem.
            Aliquam at tortor sit amet lorem dapibus convallis. In elementum facilisis mi, non ullamcorper arcu dictum
            quis. Quisque tempor a augue et molestie. Aliquam sed eros euismod, interdum quam non, faucibus elit.<br/>

            Pellentesque interdum vestibulum placerat. Suspendisse lobortis fermentum pharetra. Etiam volutpat tellus in
            dignissim iaculis. Quisque vestibulum ipsum a diam iaculis accumsan. Sed eleifend leo et lacus suscipit, in
            scelerisque nisl fermentum. Phasellus ac tempor erat. Fusce rhoncus eros sit amet turpis semper, eget
            posuere felis bibendum. Mauris accumsan sem vel erat mollis, sit amet eleifend libero bibendum. Mauris vel
            dui augue. Nunc tristique a dui nec eleifend. Curabitur vitae faucibus risus. Donec at fermentum ex. Integer
            feugiat iaculis consectetur. Integer lectus lorem, fringilla sit amet turpis a, vehicula tincidunt arcu.<br/>

            Ut in sem massa. Phasellus sit amet diam sodales, facilisis augue ut, scelerisque massa. Nam at efficitur
            dui, sed mollis dolor. Nam sed accumsan orci. Nullam maximus auctor eros fringilla ultrices. Quisque
            pharetra, felis sit amet suscipit egestas, lacus metus maximus ex, quis pulvinar lacus diam sed nisi.
            Praesent vitae viverra felis.
        </p>
    </ion-content>
</ion-view>
