<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Home" ui-sref="tab.home"
             icon-off="{{ platform == 'android' ? 'ion-android-home' : 'ion-ios-home-outline'}}"
             icon-on="{{ platform == 'android' ? 'ion-android-home' : 'ion-ios-home'}}">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Map" ui-sref="tab.map"
             icon-off="{{ platform == 'android' ? 'ion-android-pin' : 'ion-ios-location-outline'}}"
             icon-on="{{ platform == 'android' ? 'ion-android-pin' : 'ion-ios-location'}}">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Events" ui-sref="tab.events"
             icon-off="{{ platform == 'android' ? 'ion-android-contacts' : 'ion-ios-people-outline'}}"
             icon-on="{{ platform == 'android' ? 'ion-android-contacts' : 'ion-ios-people'}}">
        <ion-nav-view name="tab-events"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Around me" ui-sref="tab.around"
             icon-off="{{ platform == 'android' ? 'ion-android-locate' : 'ion-ios-flower-outline'}}"
             icon-on="{{ platform == 'android' ? 'ion-android-locate' : 'ion-ios-flower'}}">>
        <ion-nav-view name="tab-around"></ion-nav-view>
    </ion-tab>


</ion-tabs>
